*[parallax] {
	width: 700px;
	height: 300px;
	
	background-size: 100%;
}

#first-example, #second-example {
	background-image: url('./assets/dawn-190055.jpg');
}

#third-example {
	background-image: url('./assets/monument-valley-1142892_1280.jpg');
	background-size: initial;
}

#special-scroll-3, #special-scroll-4 {
	height: 200px;
	overflow: auto;
	
	max-width: 100%;
}

#fourth-example-text {
	height: auto;
	width: auto;
	
	display:  inline-block;
	position: relative;
}

#fourth-example-logo {
	height: 50px;
	width: 50px;
	
	float: left;
}

.example-textboxes {
	box-sizing: border-box;
	
	border: 1px solid gray;
}