*[parallax] {
	width: 700px;
	height: 300px;
	
	background-size: 100%;
}

#first-example, #second-example {
	background-image: url('./assets/dawn-190055.jpg');
}

#third-example {
	background-image: url('./assets/monument-valley-1142892_1280.jpg');
	background-size: initial;
}

#fourth-example-text {
	height: auto;
	width: auto;
	
	display: inline-block;
}

#fourth-example-text, #fifth-example-text {
	position: relative;
}

#fourth-example-logo {
	height: 50px;
	width: 50px;
	
	float: left;
}

.example-textboxes {
	max-width: 700px;
	height: 200px;
	overflow: auto;
	
	box-sizing: border-box;
	
	border: 1px solid gray;
}

#fifth-example-text {
	width: 100%;
	height: auto;
	padding: 20px;
	transition: all linear .05s;
}