*[parallax] {
	width: 700px;
	height: 300px;
	
	background-size: 100%;
}

#first-example, #second-example {
	background-image: url('./assets/dawn-190055.jpg');
}

#third-example {
	background-image: url('./assets/monument-valley-1142892_1280.jpg');
	background-size: initial;
}

#special-scroll-3 {
	height: 200px;
	overflow: auto;
}